* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#three {
  display: none;
}

.header{
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  gap: 1rem;
}

.logo{
  width:10% 
}



@media screen and (max-width: 350px) {
.home {
  display: none;
}

}