* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#three {
  display: none;
}

.container {
  width: 85%;
  margin: auto;
  padding-bottom: 3rem;
}

#logo {
  width: 60%;
}

.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  gap: 3rem;
  display: flex;
}

select {
  border: none;
  background-color: #fff;
}

#profile {
  width: 20%;
  border-radius: 50%;
}

.left {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.head-left,
.head-right {
  display: flex;
  gap: 1rem;
}

.sect2 {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.two {
  padding-top: -30rem;
  display: flex;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 10px;
}

.null {
  display: flex;
  gap: 7px;
}

.comment {
  gap: 1rem;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.star-row {
  color: #ff7f50;
}

.favorite-and-date {
  gap: 2.5rem;
  display: flex;
}

#profil {
  width: 5%;
  border-radius: 50%;
}

#hr {
  background-color: #b2b0b0;
}

.texte {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texte {
  padding-top: 1rem;
  color: #565252;
}

.bg-image {
  padding-top: 2rem;
  object-fit: contain;
  height: auto;
  width: 100%;
  height: 90%;
  border-radius: 5px;
}

.mark {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
}

.time {
  border-right: 2px solid #c0bcbc;
  padding-right: 20px;
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.gri {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #7a7474;
}

.ingre {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 2rem;
}

.ingredient {
  display: flex;
  padding-top: 1rem;
  gap: 2rem;
}

.cake {
  padding-top: 2rem;
  font-size: 18px;
  font-weight: bold;
}

h2 {
  padding-bottom: 1rem;
}

.barre {
  text-decoration: line-through;
  color: #b2b0b0;
}

.circle {
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
  background-color: #ff7f50;
  color: #fff;
  border: #ff7f50;
  width: 14px;
}

.intru {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  gap: 10px;
  margin-top: 2rem;
  width: fit-content;
  background-color: #eee8e8;
  padding: 10px 7px;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
  font-size: 25px;
}

hr {
  color: #ebe1e1;
}

.all1 {
  width: 70%;
}
.all2 {
  width: 30%;
}

.all {
  display: flex;
  width: 100%;
}

.nutri {
  display: flex;
  justify-content: space-between;
}

.rec {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2rem;
}

.recipe {
  padding-top: 2rem;
}

.icon-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#icon-img {
  border-radius: 5px;
  width: 25%;
}

.reci {
  padding-bottom: 2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.footer {
  padding-top: 3rem;
  padding-left: 2rem;
}

.foot {
  font-weight: bold;
  font-size: 60px;
  padding-bottom: 2rem;
}

.intrus {
  padding-top: 2rem;
}

button {
  padding: 8px 13px;
  background-color: #fff;
  margin-bottom: 2rem;
}

#foot {
  border: 8px solid #fd4f10;
}


@media screen and (max-width: 320px) {
  * {
    margin: 0 auto;
  }

  #three {
    width: 2%;
  }

  .all {
    width: 100%;
    display: grid;
  }

  .all2 {
    width: 100%;
  }
  .home {
    display: none;
  }

  #three {
    display: none;
  }

  .left {
    display: flex;
  }

  .header{
    display: flex;
    justify-content: space-between;
  }

}